{# menu de l'application #}

<strong>Menu</strong>
<ul>
    <li><a href="{{ path('security_login') }}">Connexion</a></li>
    <li><a href="{{ path('security_inscription') }}">Inscription</a></li>
    <li><a href="{{ path('security_logout') }}">Déconnexion</a></li>
    <li><a href="{{ path('produit_list') }}">liste des produits</a></li>
    <li><a href="{{ path('produit_add') }}">ajouter un produit</a></li>
    <li><a href="{{ path('app_panier') }}">Voir mon panier</a></li>
    <li>... to be completed</li>
</ul>
